{% extends 'main.html' %}

{% block content %}

<div class="bg-white border rounded-lg px-8 py-6 mx-auto my-8 max-w-2xl">
  <div class="mb-4 justify-between flex flex-wrap">
    <h2 class="text-2xl font-medium mb-4">Create Post</h2>
    <a href="{% url 'home' %}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Back</a>
  </div>
  <form method="post"> {% csrf_token %}
    {% for form in forms %}
      <div class="mb-4">
          <label for="name" class="block text-gray-700 font-medium mb-2">{{ form.label_tag }}</label>
          {{ form }}
      </div>
      
      {% endfor %}
      <div class="mb-4">
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Submit</button>
      </div>

  </form>
</div>

{% endblock %}
